<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :week_ending, style: "display: block" %>
    <%= form.date_field :week_ending %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.rich_text_area :completed %>
  </div>

  <div>
    <%= form.label :upcoming %>
    <%= form.rich_text_area :upcoming %>
  </div>

  <div>
    <%= form.label :notes %>
    <%= form.rich_text_area :notes %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
